$primary: rgb(130, 173, 198);
$info: #FFF48F;
$light: #FAEDDF;
$secondary:#F0DECA;
$dark: #75574E;
$warning: #FCF7F1;
$danger: #F8A577;

$progress-height: 0.8rem;

@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

a:hover {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

.little {
    font-size: 10px;
    font-weight: bold;
}

.icon {
    transition: 1s;
}

.icon:hover {
    color: $primary;
    transform: scale(1.1);
    transform: translateY(10px);
}

#portrait {
    @media (max-width: 575px){  
        @media (max-aspect-ratio: 8/12) {
            height: calc(100vh - 56px);
            object-fit: cover;
        }
        @media (min-aspect-ratio: 8/12){
            height: calc(100vh - 56px);
            object-fit: cover;
        }
    }
}
.portfolio {
    @media (max-width: 767px){
        height: 60vh;
    }
    @media (min-width: 768px){
        height: 30vw;
    }
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: opacity(70%) sepia(50%);
        // grayscale(100%);
        transition: 2s;
    }
}

.portfolio:hover {
    img {
        filter: opacity(100%) sepia(0);
    }
}

// tytuly sekcji w kwadratowych polach
.kwadrat {
    position: relative;
    width: 33%;
}

.kwadrat:before {
    content: "";
    float: left;
    @media (max-width: 575px) {
        padding-top: 30%;
    }
    @media (min-width: 576px) {
        padding-top: 100%;
    }
}

input {
    background-color: $secondary;
    border-top: none;
    border-width: 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 3vh;
}

textarea {
    background-color: $secondary;
    border-top: none;
    border-width: 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 3vh;
}

.btn {
    border-radius: 0;
}

// cieńsze ikony fontawesome
#about i {
    -webkit-text-stroke: 2px $warning;
}

.symbolUnfilled {
    width: 30px;
    height: 30px;
    border: 2px $primary solid;
}

.symbolFilled {
    background: $primary;
    width: 30px;
    height: 30px;
    border: 2px $primary solid;
}



.podpis {
    @media (max-width: 767px){
        left: 10%;
        bottom: 5%;
        width: 80%;
        height:4rem;
    }
    @media (min-width: 768px){
        right: 17.5%;
        bottom: 5%;
        width: 65%;
        height:6rem;
    }

    display: none;
    position: absolute;
    background: $secondary;
    
  }
  
  .podpis p {
    font-weight: bold;
    text-align: center;
    margin: auto 3px;
    line-height: normal;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
// autofill color input
  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px $secondary inset !important;
}


// przycisk powrotu na górę
#upButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:3vh;
    right:3vh;
    transition: 0.4s;
}
#upButtonSymbol {
    width: 30px;
    height: 30px;
    border-top: $dark solid 3px;
    border-left: $dark solid 3px;
    transform: rotate(45deg);
}

#upButton:hover {
    transform: translateY(-1vh);
    -webkit-text-stroke: 2px #FCF7F1;
    
}
#upButton i{
    color: #75574E;
}

.opacity0 {
    opacity: 0;
}
.opacity1 {
    opacity: 1;
}